#turn on url rewriting 
RewriteEngine on

#remove the need for .php extention 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

#disable viewing indexes for privacy reasons
Options -Indexes

#if you want to use a custom 404 page, create one name "404.html", put it in a folder named "error_pages" (in this directory), and uncomment the following line:
#ErrorDocument 404 /error_pages/404.html
